@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,600;0,1000;1,200;1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,600;0,1000;1,200;1,300;1,900&family=Rampart+One&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito' , sans-serif;
}

:root {
    --bg-color: aliceblue;
    --text-color: black;
    --main-color: teal;
    --white-color:white;
    --shadow-color:red;
}
html{
    font-size: 70% ;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    ;
}
.logo{
    font-size: 2.5rem;
    color: teal;
    font-weight: 600;
    cursor: pointer ;
    margin-right: auto;
}


.navbar a{
    font-size: 16px;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
    position: relative;
}

.navbar a.active::before{
    content:'';
    position: absolute;
    background: var(--white-color);
    width: 100%;
    height: .2rem;
    left: 0;
    bottom: -5px;
}

#github-repository{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;

}
.home{
    display: flex;
    align-items: center;

}

.home .home-body{
    max-width: 44rem;

}
.home-body h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: .3;
    color: black;

}
.home-body h1{
    font-size: 5.6rem;
    font-weight: 700;
    font-family: 'Rampart One';
    color: teal;

}
.home-body p{
    font-size: 1.6rem;
}

.home-body .social-media-links a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: inset;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: 0.5s ease-in-out;
}

.home-body .social-media-links a:hover{
    color: var(--white-color);
    background-color: var(--main-color);
}
.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 760px;
    height: 760px;
    overflow: hidden;
    pointer-events: none;
}
.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 760px;
    height: 760px;
    
    border-radius: 50%;
    display:flex ;
    justify-content: center ;
    align-items: center ;
}
.home .profession-box .profession-box-inner{
    position: absolute;
    display: flex;
    left: 0;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg/4 * var(--i)));
    transform-origin: 384px;
    padding: 13px 0;
    background-color: var(--bg-color);
    padding: 10px 0;
}
.home .profession-box-inner i{
    font-size: 3rem;
    color: var(--text-color);
}
.home .profession-box-inner h3{
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;
    

}
.home .profession-box .circle{
    width: 560px;
    height: 560px;
    overflow: hidden;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}
.home .profession-box .profession-box-inner:nth-child(1)i{
    margin-right:15px;

}

.home .profession-box .profession-box-inner:nth-child(2)i,
.home .profession-box .profession-box-inner:nth-child(4)i{
    padding:20px;


}
.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-left: 384px solid transparent ;
    border-bottom: 384px solid var(--main-color);
    

}
.img img{
    position: absolute;
    top: 10%;
    left: 20%;
    bottom: 0;
    right: 0;
    width: 100%;
}
.language{
    background: var(--main-color);
}
.language .language-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
    
}

.language-container  .language-box-inner{
    background: var(--bg-color);
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    border-radius: 3rem;
    
    color: var(--bg-color);
    box-shadow: 0 1rem 2rem black;
    
}
.language-container  .language-box-inner h3{
    color: var(--main-color);
    
}
.language-container .language-box-inner p{
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
}

.language .language-box-inner i{
    color: var(--main-color);
    font-size: 4rem;
}